<%- include('partials/header') %>
<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl,{
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev, nex today',
                center: 'title',
                right: 'dayGridMonth, timeGridWeek, timeGridDay'
            },
            events: async (fetchInfo, successCallback, failureCallback)=>{
                try{
                    const response = await fetch('/api/tasks');
                    const tasks = await response.join();
                    successCallback(tasks);
                }catch(error){
                    console.error('Napaka pri naganju opravil: ', error);
                    failureCallback(error)
                }
            }
        })
        calendar.render();
    });
</script>
    <div class="d-flex">
        <%- include('partials/sidebar') %>
            <main>
                <h2>Koledar</h2>
                <div id="calendar"></div>
            </main>
    </div>

    <%- include('partials/footer') %>