<%- include('partials/header') %>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

<div class="d-flex">
  <%- include('partials/sidebar') %>
  <main>
    <h2>Koledar</h2>
    <div id="calendar"></div>
  </main>
</div>

<%- include('partials/footer') %>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: async (fetchInfo, successCallback, failureCallback) => {
            try{
                const response = await fetch('/api/tasks');
                const tasks = await response.json();
                
                const calendarEvents = tasks.map(task => ({
                    title: task.title,
                    start: task.dueDate,
                }));

                console.log(calendarEvents);
                successCallback(calendarEvents);
            }catch(error){
                console.error(`Napaka pri nalaganju opravil: ${error}`);
                failureCallback(error);
            }
          }
        });
        calendar.render();
      });
</script>

<%- include('partials/footer') %>
