<%- include('partials/header') %>

    <div class="d-flex">
        <%- include('partials/sidebar') %>
            <main>
                <h2>Pregledna plošča</h2>
                <!-- Page-specific content here -->
            </main>
    </div>

    <%- include('partials/footer') %>