<%- include('partials/header') %>

<div class="d-flex">
  <%- include('partials/sidebar') %>
  <main>
    <h2>Pozdravljen, <%= user ? user.username : "Gost" %>!</h2>
  </main>
</div>

<%- include('partials/footer') %>
